# =============== #
# Unity generated #
# =============== #
/[Tt]emp/
/[Oo]bj/
/[Bb]uild
/[Ll]ibrary/
/[Ll]og/
/[Ll]ogs/
/*.log
*.pidb.meta
sysinfo.txt
/[Uu]serSettings/
 
# ============================= #
# Visual Studio / IDE generated #
# ============================= #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/*.gradle
/*.localhistory
/.vs/*
/.vscode/*
/.idea
.vsconfig

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Spotlight-V100.meta
.Trashes
.Trashes.meta
ehthumbs.db
ehthumbs.db.meta
[Tt]humbs.db
[Tt]humbs.db.meta


# ==================== #
# Proflie              #
# ==================== #
MemoryCaptures/
Recordings/
ProfileAnalyzer/

# ==================== #
# Local AssetBundle    #
# ==================== #
AssetBundles/

# ==================== #
# Engineer Material    #
# ==================== #
/Assets/Engineer/Material/DistortMat.mat
/Assets/Engineer/Material/DistortMat.mat.meta
/Assets/StreamingAssets/crashlytics-build.properties
/Assets/StreamingAssets/crashlytics-build.properties.meta

# ==================== #
# Builds               #
# ==================== #
/Assets/AddressableAssetsData/AssetGroups/Default.asset
/Assets/AddressableAssetsData/AssetGroups/Default.asset.meta
Assets/StreamingAssets/AssetBundles/*
Assets/StreamingAssets/AssetBundles.meta
Assets/StreamingAssets.meta
Assets/AddressableAssetsData/Android.meta
Assets/AddressableAssetsData/Android/*
Assets/AddressableAssetsData/iOS.meta
Assets/AddressableAssetsData/iOS/*
Assets/AddressableAssetsData/Windows.meta
Assets/AddressableAssetsData/Windows/*
ServerData.meta
ServerData/*
BuildContents.meta
BuildContents/*
*.apk
*.ipa

# ==================== #
# FastScriptReload     #
# ==================== #
/Assets/FastScriptReload/
/Assets/FastScriptReload.meta
/Assets/External/FastScriptReload/
/Assets/External/FastScriptReload.meta

# ==================== #
# Unity Package        #
# ==================== #
ProjectSettings/Packages/com.unity.polybrush/Settings.json
ProjectSettings/Packages/com.unity.probuilder/Settings.json

# ==================== #
# Unity Scene Recovery #
# ==================== #
Assets/_Recovery
Assets/_Recovery.meta
